* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.simple-form {
    text-align: center;
    margin: 50px 100px;
    display: block;
}

h1 {
    text-shadow: -1px 0 #b80909, 0 1px #b80909, 1px 0 #b80909, 0 -1px #b80909;
}

body {
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('../img/pozadina.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;
    font-size: 20px;
}

#registration {
    width: 100%;
    background-color: #051019;
    opacity: 0.8;
    padding: 50px 0px;
    border: 2px solid #b80909;
    border-radius: 100px;
}

#button, #fname, #lname, #pass, #email, #cpass {
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    outline: 0px;
    border: 2px solid #b80909;
}

#ph {
    outline: 0px;
    padding: 10px;
    border-radius: 5px;
    width: 70px;
    border: 2px solid #b80909;
}

#phone {
    padding: 10px;
    border-radius: 5px;
    width: 180px;
    outline: 0px;
    border: 2px solid #b80909;
}

#rd {
    margin-left: 10px;
}
 #butt {
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    outline: 0px;
    background-color: #051019;
    border: 2px solid #b80909;
    color: #b80909;
 }

 #butt:hover {
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    outline: 0px;
    background-color:#b80909;
    border: 2px solid #fff;
    color: #fff;
 }

 .clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}

.row {
    background: rgba(0,0,0,0.5);
    border-bottom: 3px solid #b80909;
}

.logo {
    height: 120px;
    width: auto;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.main-nav {
    float: right;
    margin-top: 60px;
}

.main-nav li {
    display: inline-block;
    list-style: none;
    margin-left: 80px;
    margin-right: 20px;
}

.main-nav ul {
    margin-left: 80px;
}

.main-nav li a {
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 100;
}

.main-nav li a:hover {
    border-bottom: 2px solid #b80909;
}

.mobile-icon {
    display: none;
}

.text-danger {
    color: #b80909;
    font-size: 70%;
}

@media only screen and (max-width: 1180px) {
    .main-content {
        width: 100%;
        padding: 0 2%;
    }
}

@media only screen and (max-width: 998px) {
    h1 {
        font-size: 120%;
    }

    .main-nav li {
        display: inline-block;
        list-style: none;
        margin-left: 20px;
        margin-right: 10px;
    }

    .simple-form {
        text-align: center;
        margin: 50px 50px;
        display: block;
    
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 110%;
    }

    .main-nav{
        display: none;
    }

    .mobile-icon {
        display: inline-block;
        color: white;
        float: right;
        margin-top: 30px;
        margin-right: 20px;
    }

    .main-nav {
        float: left;
    }

    .main-nav li {
        display: block;
        margin-top: 10px;
    }

    .simple-form {
        text-align: center;
        margin: 50px 100px;
        display: block;
    
    }
}

@media only screen and (max-width: 768px) {
    .simple-form {
        text-align: center;
        margin: 10px 20px;
        display: block;
    
    }

    h1 {
        font-size: 105%;
    }
}

@media only screen and (max-height: 450px) {
    .main-content {
        width: 1180px;
        position: absolute;
        top: 80%;
        left: 70%;
        transform: translate(-50%, -50%);
    }
}